
html {

    display:flex;
    justify-content: center;
}
* {
    border:2px solid red;
}

body {

  
   
    display: flex;
    justify-content: center;
    align-items: center;

}

.calcBox {

    border:5px solid pink;
    background-color: rgb(204, 195, 195);
    
    
    
    
    
    
    
    
    
}

.titleContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0%;
    
    }

.calcTitle {

   margin-top: 1%;
   margin-bottom: 1%;
    border-bottom:5px solid black;
    font-size: 22 rem;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left:2px solid black;
    padding:5px;
    
}



.numbersDisplay{
margin-top: 1%;
    font-size: 3rem;
    margin-bottom: 1%;
    color:white;
    background-color: black;
    
    
    
}

.numberBox {

    
    
    font-size: 3rem;
    
}

.symbols {

    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    
    
}

.multiplySign {

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    
}

.divideSign {

    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.minusSign {
    grid-row-start:3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;

}

.plusSign {

    grid-row-start:4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;

}

.equalSign {

    grid-row-start:4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;

}

.num0 {
    grid-row-start:4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;

}



button {

    font-size: 3rem;
}